<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Agency</title>
</head>
<body>
<h2>Create New Agency</h2>
<form method="post" th:action="@{/agency}" th:object="${agency}">
    <p><b>name: </b>
        <input type="text" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"
              style="color: red"></span>
    </p>

    <p><b>country: </b>
        <input type="text" th:field="*{country}">
        <span th:if="${#fields.hasErrors('country')}"
              th:errors="*{country}"
              style="color: red"></span>
    </p>

    <p><b>city: </b>
        <input type="text" th:field="*{city}">
        <span th:if="${#fields.hasErrors('city')}"
              th:errors="*{city}"
              style="color: red"></span>
    </p>

    <p><b>Name: </b>
        <input type="text" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"
              style="color: red"></span>
    </p>

    <p><b>phone: </b>
        <input type="text" th:field="*{phone}">
        <span th:if="${#fields.hasErrors('phone')}"
              th:errors="*{phone}"
              style="color: red"></span>
    </p>

    <p><b>email: </b>
        <input type="text" th:field="*{email}">
        <span th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"
              style="color: red"></span>
    </p>

    <p>: </p>
    <select th:field="*{owner.id_person}">
        <option value="">Select Owner</option>
        <option th:each="person : ${people}"
                th:value="${person.id_person}"
                th:text="${person.firstname + ' ' + person.surname + ' ' + person.lastname}">
        </option>
    </select><br><br>

    <button type="submit">Сохранить</button>
</form>
<a th:href="@{/agency}">Вернуться назад</a>
</body>
</html>