<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<a th:href="@{/people/new}">Создать</a>
<hr>
<form th:action="@{people/search}" method="get">
    <input type="text" name="query" placeholder="Введите имя или фамилию">
    <button type="submit">Найти</button>
</form>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.id_person}, page=${currentPage})}">
        <span th:text="${person.firstname}"></span><br>
        <span th:text="${person.surname}"></span><br>
        <span th:text="${person.lastname}"></span><br>
        <span th:text="${person.birthdate}"></span><br>
        <span th:text="${person.passportseries}"></span><br>
        <span th:text="${person.passportnumber}"></span><br>
        <span th:text="${person.phone}"></span><br>
        <span th:text="${person.country}"></span><br>
        <span th:text="${person.city}"></span><br>
    </a> <br>
</div>
<div>
    <a th:if="${currentPage > 0}"
       th:href="@{/people(page=${currentPage - 1}, size=10)}">
        ⬅ Предыдущая
    </a>

    <span th:text="${currentPage + 1}"></span> /
    <span th:text="${totalPages}"></span>

    <a th:if="${currentPage + 1 < totalPages}"
       th:href="@{/people(page=${currentPage + 1}, size=10)}">
        Следующая ➡
    </a>
</div>
</body>
</html>