<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить человека</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/people/people.css}">
</head>
<body>

<div class="container">
    <h1><i class="fas fa-user-plus"></i> Добавить нового человека</h1>

    <div class="form-container">
        <form method="post" th:action="@{/people}" th:object="${person}">
            <div class="form-row">
                <div class="form-group">
                    <label class="form-label required">
                        <i class="fas fa-user"></i> Имя
                    </label>
                    <input type="text" th:field="*{firstname}" class="form-input" placeholder="Введите имя">
                    <div class="error-message" th:if="${#fields.hasErrors('firstname')}">
                        <i class="fas fa-exclamation-circle"></i>
                        <span th:errors="*{firstname}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label required">
                        <i class="fas fa-user"></i> Фамилия
                    </label>
                    <input type="text" th:field="*{surname}" class="form-input" placeholder="Введите фамилию">
                    <div class="error-message" th:if="${#fields.hasErrors('surname')}">
                        <i class="fas fa-exclamation-circle"></i>
                        <span th:errors="*{surname}"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label class="form-label">
                        <i class="fas fa-user"></i> Отчество
                    </label>
                    <input type="text" th:field="*{lastname}" class="form-input" placeholder="Введите отчество">
                    <div class="error-message" th:if="${#fields.hasErrors('lastname')}">
                        <i class="fas fa-exclamation-circle"></i>
                        <span th:errors="*{lastname}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label required">
                        <i class="fas fa-birthday-cake"></i> Дата рождения
                    </label>
                    <input type="date" th:field="*{birthdate}" class="form-input">
                    <div class="error-message" th:if="${#fields.hasErrors('birthdate')}">
                        <i class="fas fa-exclamation-circle"></i>
                        <span th:errors="*{birthdate}"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label class="form-label required">
                        <i class="fas fa-passport"></i> Серия паспорта
                    </label>
                    <input type="text" th:field="*{passportseries}" class="form-input" placeholder="XXXX">
                    <div class="error-message" th:if="${#fields.hasErrors('passportseries')}">
                        <i class="fas fa-exclamation-circle"></i>
                        <span th:errors="*{passportseries}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label required">
                        <i class="fas fa-hashtag"></i> Номер паспорта
                    </label>
                    <input type="text" th:field="*{passportnumber}" class="form-input" placeholder="XXXXXX">
                    <div class="error-message" th:if="${#fields.hasErrors('passportnumber')}">
                        <i class="fas fa-exclamation-circle"></i>
                        <span th:errors="*{passportnumber}"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label class="form-label required">
                        <i class="fas fa-phone"></i> Телефон
                    </label>
                    <input type="text" th:field="*{phone}" class="form-input" placeholder="+7 (XXX) XXX-XX-XX">
                    <div class="error-message" th:if="${#fields.hasErrors('phone')}">
                        <i class="fas fa-exclamation-circle"></i>
                        <span th:errors="*{phone}"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label class="form-label required">
                        <i class="fas fa-globe"></i> Страна
                    </label>
                    <input type="text" th:field="*{country}" class="form-input" placeholder="Введите страну">
                    <div class="error-message" th:if="${#fields.hasErrors('country')}">
                        <i class="fas fa-exclamation-circle"></i>
                        <span th:errors="*{country}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label required">
                        <i class="fas fa-city"></i> Город
                    </label>
                    <input type="text" th:field="*{city}" class="form-input" placeholder="Введите город">
                    <div class="error-message" th:if="${#fields.hasErrors('city')}">
                        <i class="fas fa-exclamation-circle"></i>
                        <span th:errors="*{city}"></span>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-submit">
                    <i class="fas fa-save"></i> Сохранить
                </button>

                <a th:href="@{/people}" class="btn btn-back">
                    <i class="fas fa-arrow-left"></i> Вернуться назад
                </a>
            </div>
        </form>
    </div>
</div>

</body>
</html>