<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Info</title>
</head>
<body>

<h2>Информация о человеке</h2>

<div>
    <p><b>Имя:</b> <span th:text="${person.firstname}"></span></p>
    <p><b>Фамилия:</b> <span th:text="${person.surname}"></span></p>
    <p><b>Отчество:</b> <span th:text="${person.lastname}"></span></p>
    <p><b>Дата рождения:</b> <span th:text="${person.birthdate}"></span></p>
    <p><b>Серия паспорта:</b> <span th:text="${person.passportseries}"></span></p>
    <p><b>Номер паспорта:</b> <span th:text="${person.passportnumber}"></span></p>
    <p><b>Телефон:</b> <span th:text="${person.phone}"></span></p>
    <p><b>Страна:</b> <span th:text="${person.country}"></span></p>
    <p><b>Город:</b> <span th:text="${person.city}"></span></p>
</div>

<hr>
<a th:href="@{/people/{id}/edit(id=${person.id_person})}">Редактировать</a>

<form method="post" th:action="@{/people/{id}/delete(id=${person.id_person})}">
    <button type="submit">Удалить</button>
</form>

<a th:href="@{/people(page=${currentPage ?: 1})}">← Назад к списку</a>

</body>
</html>
